* {
        margin: 0;
        padding: 0;
}


/* home page */
.title {
        color: #F29188;
        position: absolute;
        left: 50%;
        top: 45%;
        width: 100%;
        transform: translate(-50%, -50%);
        text-align: center;
}

.title h1 {
        font-size: 130px;
        text-shadow: 6px 4px 4px #3E593F, 0 0 1em #F29188, 0 0 0.2em #fff;
        transition: 1s;
        font-weight: bolder;
}

a {
        text-decoration: none;
}

.start-btn {
        font-size: 35px;
        font-style: italic;
        font-family: 'Times New Roman', Times, serif;
        font-weight: bold;
        background: none;
        color: #aacca7;
        border: none;
        text-shadow: 2px 2px 4px #3E593F, 
                     0 0 0.2em #000, 
                     0 0 1em #3E593F;
        cursor: pointer;
        position: relative;
        top: 3vh;
        transition: 1s;
}

.start-btn:hover {
        color: #fff;
}

#mazeImg {
        width: 50%;
}

#maze {
        height: 700px;
        width: 700px;
        position: absolute;
        overflow-x: hidden;
        left: 50%;
        transform: translateX(-50%);
        z-index: 0;
}

#ball {
        height: 20px;
        width: 20px;
        position: absolute;
        z-index: 1;
        background-image: url(imgs/ball.png);
        background-size:contain;
        background-repeat: no-repeat;
        background-position: center;
        left: 10px;
        top: 13px;
        border-radius: 50%;
}

#canvas {
        z-index: -1;
        width: 100%;
        height: 700px;
        position: absolute;
}

#title {
        position: absolute;
        font-size: 20px;
        font-weight: bold;
}